/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000*/
body {
  font-family: "Nunito", sans-serif;
  font-size: auto;
  font-style: normal;
}
.fab {
  color: blue;
  font-size: medium;
}
.hero h1 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 76px;
  color: white;
  padding-top: 50px;
}
.hero {
  background-image: url("images/overlay.png");
  margin-top: 50px;
}
.hero p {
  color: white;
  line-height: 35px;
  font-weight: bold;
  padding-bottom: 30px;
}
row {
  margin-bottom: 30px;
}
.row p {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
  line-height: normal;
}
.container-img {
  border-radius: 12px;
  /* width: 560px;
  height: 350px;*/
  margin-top: 30px;
}
.container-footer {
  margin-top: 60px;
  background-color: #f9f7fe;
  padding: 40px auto;
}
.theicons {
  display: flex;
}
i {
  font-size: 32px;
}

.footer-paragraph {
  font-size: 16px;
  font-weight: lighter;
  font-family: "Nunito", sans-serif;
}
header {
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 16px;
}

.nav-link {
  color: midnightblue;
}
.nav-link:hover {
  color: darkviolet;
}
.hero-two {
  font-family: "Nunito", sans-serif;
  color: midnightblue;
  margin-top: 40px;
  font-weight: bold;
  font-size: 72px;
}
.about-paragraph {
  font-size: 18px;
  font-weight: lighter;
}
.the-name {
  font-weight: bold;
  font-size: 64px;
  color: midnightblue;
  font-family: "Nunito", sans-serif;
}
.follow {
  font-size: 18px;
}
h4 {
  font-size: 36px;
  font-weight: bolder;
  color: midnightblue;
}
hr {
  border-top: 1px dashed #67d5d6;
}
.steps {
  color: #f65282;
  font-weight: bolder;
  font-size: 18px;
}
.recipe-collection-heading,
.contact-us-heading {
  font-size: 72px;
  text-align: center;
  color: midnightblue;
  margin-top: 70px;
  margin-bottom: 60px;
}
.contact-details {
  padding-top: 40px;
  line-height: 30px;
}
h5 {
  color: #662eed;
  font-size: 18px;
  font-weight: bolder;
  padding-bottom: 10px;
}
i {
  font-size: 24px;
}
@media (max-width: 576px) {
  .hero h1,
  .contact-us-heading,
  .recipe-collection-heading,
  .hero-two {
    font-size: 50px;
  }
  .row p {
    font-size: 18px;
  }
  .the-name {
    font-size: 35px;
  }
}
